<h1>List of photos</h1>


<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
  <tr>
    <td><img src= '<%= a_photo.image %>'></td>

    <td><%= a_photo.caption %></td>

    <td>
      catherina
    </td>

    <td>
      2019-04-27 11:56:39 UTC
    </td>

    <td>
      <a href="/photos/777">
        Show details
      </a>
    </td>
  </tr>
  <% end%>